.box {
	width: 50px;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	padding-top: 15px;
	text-align: center;
	vertical-align: top;
	background-color: blue;
}

.box.selected {
 	background-color: #aaa;
}

.box.flagged {
 	background-color: #f00;
}

#container {
	margin: auto;
	margin-top: 7%
}

#describe {
	text-align: center;
	margin-top: 2%;
}

#inputs {
	text-align: center;
	margin: auto;
	margin-top: 3%;
}

.insult {
	padding: 0 0 0 0;
	position: absolute;
	left: 0;
	width: 33%;
	height: 200px;
}

#insults {
	padding: 0;
	position: absolute;
	top: -5px;
	margin: 0;
	word-break: break-word;
	font-size: 50px;
}

.level {
	position: absolute;
	right: 0;
	width: 33%;
	height: 200px;
}

.level button {
	height: 60px;
	width: 170px;
	font-size: 25px;
}

table {
	width: 33%;
	margin: auto;
	margin-bottom: 1%;
}

#replay, #reveal {
	height: 60px;
	width: 100px;
	font-size: 25px;
}
