.box {
	width: 50px;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid black;
	padding-top: 15px;
	text-align: center;
	vertical-align: top;
	background-color: blue;
}

.box.selected {
 	background-color: #aaa;
}

.box.flagged {
 	background-color: #f00;
}

button {
	border-radius: 5%;
}

#container {
	margin: auto;
	margin-top: 7%
}

#describe {
	text-align: center;
	font-size: 50px;
	margin: 1% auto 2% auto;
	font-family: 'Bangers', cursive;
}

#inputs {
	text-align: center;
	margin: auto;
	width: 100%;
}

.insult {
	position: absolute;
	left: 0;
	width: 39%;
	text-align: center;
	height: 200px;
	margin-bottom: 20px;
}

#insults {
	margin: auto;
	text-align: center;
	word-break: break-word;
	font-size: 70px;
	margin-bottom: 20px;
}

.level {
	position: absolute;
	right: 0;
	width: 40%;
	height: 200px;
}

.level button {
	height: 60px;
	width: 170px;
	font-size: 25px;
}

table {
	width: 21%;
	margin: auto;
	margin-bottom: 1%;
}

#replay, #reveal {
	height: 60px;
	width: 100px;
	font-size: 25px;
}

